<ion-header [translucent]="true">
  
  <ion-toolbar>
    <div class="flex-container">
      <header>
        <div id="menu-superior" class="center">
          <p>Senha</p>
        </div>
      </header>
      <section class="content">
        <div id="menu-inferior">
          <div class="botao">
            <button class="list-element" (click)="senhaGeral()"(click)="redirectToOtherPage()">SENHA GERAL</button>
          </div>
          
          <div class="botao">
            <button class="list-element" (click)="senhaExame()" (click)="redirectToOtherPage()">SENHA DE EXAME</button>
          </div>
          
          <div class="botao">
            <button class="list-element" (click)="senhaPref()" (click)="redirectToOtherPage()">SENHA PRIORITARIA</button>
          </div>
          
          
        </div>
      </section>
      
    </div>
    

  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
