<ion-header [translucent]="true">
  <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
  <ion-toolbar lines="none">
    <div class="flex-container">
      <header>
        <div id="menu-superior">
          <p id="senha1">Senha Atual</p>
          <p id="senha2">Últimas senhas</p>
        </div>
      </header>
      <section class="content">
        <div id="menu-inferior">
          <p class="list-element" id="ele0">{{ senhap0 }}</p>
        </div>
        <div id="menu-lateral">
          
          <p class="list-element" id="ele1">{{ senhap1 }}</p>
          <p class="list-element" id="ele2">{{ senhap2 }}</p>
          <p class="list-element" id="ele3">{{ senhap3 }}</p>
          <p class="list-element" id="ele4">{{ senhap4 }}</p>
          <p class="list-element" id="ele5">{{ senhap5 }}</p>
        </div>
        
      </section>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>


</ion-content>
