<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="headerContainer">
    <div class="defaultElipse"></div>
    <h6 class="token">Senha autal: <br /></h6>
    <h6 *ngIf="this.data.nextToken?.value" class="token">
      {{this.data.nextToken.value}}
    </h6>
  </div>
  <div class="generate-report">
    <ion-button href="/report" fill="clear"
      >Deseja gerar um relatório?</ion-button
    >
  </div>
  <ion-list *ngIf="this.data.usedTokens.length">
    <h6 class="tokens-label">Senhas já chamadas</h6>
    <app-tokens
      *ngFor="let token of this.data.usedTokens?.reverse()?.slice(0, 5)"
      [token]="token"
    ></app-tokens>
  </ion-list>
</ion-content>

<ion-button href="/home" class="ion-button">
  <ion-icon name="arrow-back-outline"></ion-icon>
</ion-button>
<ion-button
  (click)="this.data.getNextToken()"
  fill="solid"
  size="large"
  color="success"
  disabled="{{!this.data.tokens.length}}"
>
  Próxima senha
</ion-button>
