<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>totem</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">totem</ion-title>
    </ion-toolbar>

  </ion-header>

<div class="flex-center">
  <h2>Senhas chamadas:</h2>
  <h3>P1</h3>
  <h3>E1</h3>
  <h3>G1</h3>
  <h3>G2</h3>
  <h3>G3</h3>
    <img src="https://images.kabum.com.br/produtos/fotos/sync_mirakl/135425/Totem-Auto-Atendimento-Quinyx-Tela-18-5-Polegadas-QTT-1801A_1639058239_g.jpg" style="width: 400px;height: 300px;">
<ion-button (click)="goToSenha1()">Senha Geral</ion-button> 
  <ion-button (click)="goToSenha2()">Senha prioritária</ion-button>
  <ion-button (click)="goToSenha3()">Exames</ion-button>
</div>
  
</ion-content>
