<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex-container">
      <header>
        <div id="menu-superior" class="center">
          <p id="senha1">Sua Senha é:</p>
        </div>
      </header>
      <section class="content">
          <div id="menu-inferior">
            <div id="menu-inferior2">
            <div class="botao">
              <p id="senha-atual" class="list-element">{{ senhaValor }}</p>
            </div>
          </div>
          </div>

          
      </section>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">yourPassIs</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
